* {
  transition: all .2s;
}

.header {
  color: #fff;
  background: #1c2122; }

.header-wrap {
  background-color: #1c2122;
  padding-top: 60px; }

.header-wrap_photo {
  width: 239px;
  margin: 0 auto; }

.header-wrap_img {
  height: 250px;
  border-radius: 50%; }

.header-wrap_second {
  background-color: #1c2122; }

.header-wrap_about {
  margin-right: 20px; }

.header-wrap_title {
  letter-spacing: 2px;
  margin-top: 20px;
  font-size: 18px;
  font-family: Tahoma;
  text-transform: uppercase;
  display: table;
  border-bottom: 1px #fff solid; }

.header-wrap_desc {
  margin-top: 15px;
  text-align: justify; }

.header-text_surname {
  color: #0e7ded; }

.header-text_title {
  padding-top: 60px;
  width: 100%;
  height: 132px;
  color: #fff;
  text-transform: uppercase;
  font-family: Tahoma;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 3px; }

.header-text_subtitle {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 15px; }

.header-text_titleinfo {
  letter-spacing: 2px;
  margin-top: 20px;
  font-size: 18px;
  font-family: Tahoma;
  text-transform: uppercase;
  display: table;
  border-bottom: 1px #fff solid; }

.header-text_desc_title {
  font-family: Arial;
  font-size: 20px;
  margin-top: 18px;
  font-weight: 600; }

.faculty-year {
  margin-left: 100px; }

.faculty-text_bold {
  font-weight: 500; }

.header-text_desc_info {
  margin-top: 15px; }

.header-text_desc_info_direction {
  font-style: italic; }

.section-wrap_title {
  letter-spacing: 2px;
  margin-top: 40px;
  font-size: 18px;
  font-family: Tahoma;
  text-transform: uppercase;
  display: table;
  border-bottom: 1px solid #000; }

.section-wrap_subtitle {
  font-weight: 600;
  margin-top: 10px; }

.section-wrap_titleinfo {
  margin-top: 10px; }

.indention_bottom {
  margin-bottom: 40px; }

.footer-wrap_personal_title {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  text-transform: uppercase;
  display: table;
  color: #2393d6;
  border-bottom: 1px solid #000;
  margin-bottom: 25px; }

.footer-wrap_personal_desc {
  font-family: Tahoma;
  font-size: 14pt;
  /*Personal Skills Desc */ }

.footer-wrap_personal_teamwork_desc,
.footer-wrap_personal_sociability_desc,
.footer-wrap_personal_english_desc,
.footer-wrap_personal_creativity_desc,
.footer-wrap_personal_tasks_desc {
  margin: 8px 0 16px 0;
  height: 11px;
  width: 300px;
  background: #b5c5c4; }

.footer-wrap_personal_teamwork_desc:after {
  content: "";
  display: block;
  height: 11px;
  width: 45%;
  background: #2393d6; }

.footer-wrap_personal_sociability_desc:after {
  content: "";
  display: block;
  height: 11px;
  width: 60%;
  background: #2393d6; }

.footer-wrap_personal_english_desc:after {
  content: "";
  display: block;
  height: 11px;
  width: 30%;
  background: #2393d6; }

.footer-wrap_personal_creativity_desc:after {
  content: "";
  display: block;
  height: 11px;
  width: 40%;
  background: #2393d6; }

.footer-wrap_personal_tasks_desc:after {
  content: "";
  display: block;
  height: 11px;
  width: 60%;
  background: #2393d6; }

.footer-wrap_professional_desc {
  margin-bottom: 25px; }

.footer-wrap_professional_desctitle {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  text-transform: uppercase;
  display: inline-block;
  color: #2393d6;
  margin: 0 20px 20px 0; }

.footer-wrap_professional_descline {
  display: inline-block;
  width: 370px;
  height: 1px;
  background: #959595; }

.footer-wrap_professional_descskills {
  display: inline-block; }

.footer-wrap_professional_descskills_content {
  margin: 5px 0; }

.descskills_content_title {
  font-size: 14pt;
  font-weight: 600; }

.descskills_content_skill {
  margin: 10px 50px 0 0; }

.descskills_content_skillsize_solid {
  display: inline-block;
  margin: 2px;
  background: #2393d6;
  border-radius: 50%;
  height: 11px;
  width: 11px; }

.descskills_content_skillsize_empty {
  display: inline-block;
  margin: 2px;
  border: 1px #2393d6 solid;
  border-radius: 50%;
  height: 11px;
  width: 11px; }

.footer-wrap_contacts {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  text-transform: uppercase;
  display: table;
  color: #2393d6;
  margin-bottom: 60px; }

.footer-wrap_contacts_title {
  display: inline-block;
  margin: 15px 20px 0 0; }

.footer-wrap_contacts_line {
  display: inline-block;
  width: 570px;
  height: 1px;
  background: #959595 }

.footer-wrap_contacts_descinfo {
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  font-family: none;
  text-transform: none;
  color: #000;
  margin: 20px 40px 20px 0; }

.footer-wrap_contacts_desclink {
  position: relative;
  top: -30px;
  display: inline-block; }

.desclink_vkontakte {
  width: 50px;
  margin: 0 10px;
  display: inline-block; }

.contacts_underline {
  text-decoration: underline;
  font-style: normal; }

.vkontakte {
  width: 36px; }

@media (max-width: 1199px){
  .footer-wrap_personal_teamwork_desc,
  .footer-wrap_personal_sociability_desc,
  .footer-wrap_personal_english_desc,
  .footer-wrap_personal_creativity_desc,
  .footer-wrap_personal_tasks_desc {
    margin: 8px 0 16px 0;
    height: 11px;
    width: 260px;
    background: #b5c5c4; }

  .footer-wrap_professional_descline {
    display: inline-block;
    width: 270px;
    height: 1px;
    background: #959595; }

  .footer-wrap_contacts_line {
    display: inline-block;
    width: 460px;
    height: 1px;
    background: #959595; }

  .footer-wrap_professional_descskills_content {
    display: inline-block;
  }

  .header-wrap_about {
    margin-right: 10px;
    margin-bottom: 20px; }
}

@media (max-width: 991px) {
  .container {
    max-width: 90vw;
  }
  .header-text_title {
    text-align: center;
  }
  .header-text_subtitle {
    text-align: center; }
  .header-text_titleinfo, 
  .header-wrap_title {
    font-size: 20px;
    margin: 20px auto 0 auto;
    font-weight: 600;
  }
  .header-wrap_desc {
    font-size: 17px;
  }
  .header-text_desc_title {
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-weight: 500;
  }
  .header-text_desc_education {
    font-size: 19px;
    text-align: center;
  }
  .faculty-year {
    margin-left: 10px; 
  }
  .header-text_desc_info {
    margin-top: 15px;
    font-size: 17px;
    margin-bottom: 30px;
  }
  
  .section-wrap_title {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 40px;
  }
  .section-wrap_subtitle {
    font-size: 21px;
    text-align: center;
    margin-top: 15px;
  }
  .section-wrap_titleinfo {
    text-align: justify;
    font-size: 17px;
  }
  .footer-wrap_personal_title {
    font-size: 24px;
  }
  .footer-wrap_personal_desc {
    font-size: 18pt;
  }
  .footer-wrap_personal_teamwork_desc,
  .footer-wrap_personal_sociability_desc,
  .footer-wrap_personal_english_desc,
  .footer-wrap_personal_creativity_desc,
  .footer-wrap_personal_tasks_desc {
    width: 440px;
  }
  .footer-wrap_professional_desctitle {
    font-size: 24px;
  }
  .footer-wrap_professional_descline {
    display: inline-block;
    width: 220px;
    height: 1px;
    background: #959595;
  }
  .descskills_content_title {
    font-size: 17pt;
  }
  .descskills_content_skillsize_solid,
  .descskills_content_skillsize_empty {
    margin: 4px;
    height: 15px;
    width: 15px;
  }
  .footer-wrap_professional_descskills_content {
    display: inline-block;
  }
  .footer-wrap_contacts_title {
    font-size: 24px;
  }
  .footer-wrap_contacts_line {
    display: inline-block;
    width: 480px;
    height: 1px;
    background: #959595;
  }
  .footer-wrap_contacts_descinfo {
    font-size: 19px;
  }
}

@media (max-width: 767px){
  .footer-wrap_professional_descline {
    display: none;
  }
  .footer-wrap_contacts_line {
    display: inline-block;
    width: 330px;
    height: 1px;
    background: #959595;
  }
  .descskills_content_title {
    font-size: 16pt;
  }
  .descskills_content_skillsize_solid,
  .descskills_content_skillsize_empty {
    margin: 2px;
    height: 13px;
    width: 13px;
  }
}
@media (max-width: 686px) {
  .faculty-year {
    margin-left: 0px; 
    display: block;
  }
}

@media (max-width: 615px) {
  .footer-wrap_personal_title,
  .footer-wrap_contacts_title,
  .footer-wrap_professional_desctitle {
    font-size: 20px;
}
  .descskills_content_title {
    font-size: 14pt;
  }
  .descskills_content_skill {
    margin: 10px 20px 0 0;
}
  .descskills_content_skillsize_solid,
  .descskills_content_skillsize_empty {
    margin: 2px;
    height: 11px;
    width: 11px;
  }
  .footer-wrap_contacts_line {
    display: inline-block;
    width: 240px;
    height: 1px;
    background: #959595;
  }
}

@media (max-width: 596px) {
  .header-text_title {
    padding-top: 25px;
    height: 70px;
    color: #fff;
    font-family: Tahoma;
    font-size: 40px;
  }
}
@media (max-width: 533px) {
  .footer-wrap_personal_teamwork_desc,
  .footer-wrap_personal_sociability_desc,
  .footer-wrap_personal_english_desc,
  .footer-wrap_personal_creativity_desc,
  .footer-wrap_personal_tasks_desc {
    width: 300px;
  }
}

@media (max-width: 506px) {
  .container {
    max-width: 95vw;
  }
  .header-wrap_about {
    margin-right: 0;
    margin-bottom: 5px;
}
  .header-text_title {
    font-size: 37px;
}
  .header-text_desc_title {
    text-align: center;
    font-family: Arial;
    font-size: 21px;
    font-weight: 500;
    line-height: normal;
  }
  .header-text_desc_education {
    font-size: 17px;
    text-align: center;
  }
  .header-text_desc_info {
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 30px;
    text-align: justify;
  }
  .header-text_titleinfo, 
  .header-wrap_title {
    font-weight: 500;
  }
  .section-wrap_title {
    font-size: 22px;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .section-wrap_subtitle {
    font-size: 19px;
  }
  .section-wrap_titleinfo {
    font-size: 15px;
  }
  .footer-wrap_personal_title,
  .footer-wrap_contacts_title, 
  .footer-wrap_professional_desctitle {
    font-size: 19px;
  }
  .footer-wrap_personal_desc {
    font-size: 14pt;
  }
  .footer-wrap_personal_teamwork_desc, 
  .footer-wrap_personal_sociability_desc, 
  .footer-wrap_personal_english_desc, 
  .footer-wrap_personal_creativity_desc, 
  .footer-wrap_personal_tasks_desc {
    margin: 4px 0 10px 0;
    height: 11px;
    width: 280px;
    background: #b5c5c4;
  }
  .descskills_content_skillsize_solid,
  .descskills_content_skillsize_empty {
    margin: 5px;
    height: 14px;
    width: 14px;
  }
  .descskills_content_skill {
    margin: 3px 0 0 0;
  }
  .footer-wrap_professional_descskills_content {
    margin: 0;
  }
  .footer-wrap_contacts_line {
    width: 180px;
  }
  .footer-wrap_contacts_desclink {
    top: 0;
  }
  .header-wrap_desc {
    font-size: 15px;
  }
}
@media (max-width: 375px){
  .header-text_title {
    font-size: 34px;
  }
@media (max-width: 359px){
  .descskills_content_skillsize_solid, .descskills_content_skillsize_empty {
    margin: 4px;
    height: 14px;
    width: 14px;
  }
  .footer-wrap_personal_teamwork_desc, .footer-wrap_personal_sociability_desc, .footer-wrap_personal_english_desc, .footer-wrap_personal_creativity_desc, .footer-wrap_personal_tasks_desc {
    margin: 4px 0 10px 0;
    height: 11px;
    width: 268px;
    background: #b5c5c4;
  }
  .footer-wrap_contacts_line {
    width: 140px;
  }
  .footer-wrap_contacts_descinfo {
    font-size: 15px;
  }
  .header-text_title {
    font-size: 30px;
  }
  .header-text_subtitle {
    font-size: 17px;
    margin-top: 0;
  }
}
