* {
	transition: all .2s;
}

body {
	background: #DAD6DB;
	font-family: "PT Sans", Tahoma, Arial;
}

p {
	margin-top: 1.2em;
	text-align: center;
}

.container {
	display: table;
	margin-right: auto;
	margin-left: auto;
	width: 680px;
	height: 95vh;
}

.octopus {
	display: table-cell;
	vertical-align: middle;
	height: 464px;
}

.wrapper { 
	background: #252525;
	border-radius: 0 15em 15em 0;
	padding-right: 15em;
}

ul {
	margin: 0;
	list-style: none;
	text-align: right;
	background: #DAD6DB;
	height: 464px;
}

li {
	height: 31px;
	font-size: .9em;
	font-style: italic;
	color: #fff;
}

.wrap {
	height: 31px;
}

.year_later {
	height: 30px;
	float: right;
	background: #73777F;
	border-radius: 1em 0 0 1em;
}

.today {
	width: 75px;
	height: 30px;
	float: right;
	background: #252525;
	border-radius: 1em 0 0 1em;
	padding-left: .5em;
	padding-right: .2em;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);  
}

.text {
	position: relative;
	top: -80%;
	height: 1.5em;
	left: -.7em;
}

.eye {
	position: relative;
	top: 6em;
}

.white {
	position: absolute;
	right: 6em;
	width: 3em;
	height: 3em;
	background: #DAD6DB;
	border-radius: 3em;
}

.black {
	position: absolute;
	top: 1.5em;
	right: .1em;
	width: 1em;
	height: 1em;
	background: #252525;
	border-radius: .6em;

}



.today_lityc_1 {
	border-top-left-radius: 150% 150%;
}

.today_lityc_2 {
	border-bottom-left-radius: 150% 150%;
}

@media screen and (max-width: 680px) {
	.eye, .white, .black {
		display: none;
	}

	.wrapper { 
		background: #DAD6DB;
		padding-right: 1em;
	}

	.container {
		width: 480px;
	}

	.today_lityc_1, .today_lityc_2 {
		display: none;
	}

	.year_later {
		border-radius: 1em .6em .6em 1em;
	}

	.today {
		border-radius: 1em .6em .6em 1em; 
	}
}
